<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the server</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error unde cupiditate amet tempore dolore vero possimus, tenetur quos culpa fugit nostrum odio rem molestiae praesentium fugiat non in quia magni.</p>
    <img src="" alt="this is an image of a cat">
</body>
</html>