@import url('../node_modules/bootstrap/');

@keyframes flip {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(720deg);
    }
}

#coinImage{
    animation: flip 0.5s linear;
    
}